<!DOCTYPE html>
<html>
    <head></head>

    <body>
        <h1>Fruits Show Page</h1>

        The <%=fruit.name%> is <%=fruit.color%>.

        <% if(fruit.readyToEat === true) { %>
            <h4>It is ready to Eat.</h4>
        <% } else { %>
            It is not ready to eat.
        <% } %>
    </body>
</html>